<!DOCTYPE html>
<html>
  <head>
    <title>Food Truck</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  
    <div id="frame">
      <div class="col-one">
        <img id="truck" src="/images/check.png" alt="MaMaMia">
      </div>

      <div class="col-two">
          <h1>Nice choice! <br /> Your <span class="blue-text"><%= type %></span> is ready to eat!</h1>
      </div>

      <div class="col-three">
        <p>NodeJS + Express challenge by weblaetitia @lacapsule.academy - june 2020</p>
      </div>

    </div>
  
  </body>
</html>
