body {
  padding: 0px;
}
h1, p {
  font-family: 'Baloo Bhai', cursive;
  text-align: center;
  font-size: 50px;
  color: #FCB865;
}
p {
  font-size: 1em;
}

#frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 96vh;
}
#frame > div {
 flex: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

#truck {
  width: 400px;
}

.row {
  display: flex;
}
.food {
  width: 110px;
}
.link-food {
  text-decoration: none;
  color: #FCB865;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-family: 'Baloo Bhai', cursive;
}

.blue-text {
  color: cadetblue;
}
.col-one {
  max-height: 300px;
}
.col-one, .col-two {
  min-width: 500px;
}
.col-three {
  width: 98%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

@media screen and (min-width: 900px) { 
  #frame { 
    flex-direction: row;
  } 
}